.wrapper {
  display: flex;
  margin-top: 30px;

  &>*:not(:last-child) {
    margin-right: 20px;
  }

  .params {
    .currentSymbol {
      padding: 10px;
      width: 165px;
      height: fit-content;
      margin: 0 0 10px 0;
      text-align: center;
      border-radius: 10px;
      background-color: #282c34;
      color: #E5E8EC;
    }

    span {
      margin-right: 5px;
    }
  }

  .table {
    border: 1px solid #282c34;

    tr {
      display: grid;
      grid-template-columns: 1fr 2fr;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid #282c34;
      }
    }

    th {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        height: 15px;
      }

      &:hover {
        background-color: rgba(219, 116, 96, 0.7)!important;
      }
    }

    .symbolColumn {
      width: 80px;
      padding: 5px;
      text-align: center;
      border-right: 1px solid #282c34;

      &:hover {
        background-color: #91A5BE;
        cursor: pointer;
      }
    }

    .currencyColumn {
      padding: 5px;
      text-align: center;
    }

    thead {
      display: flex;
      border-bottom: 2px solid #282c34;

      .symbolColumn:hover {
        background-color: transparent;
      }
    }

    tbody {
      display: grid;
      max-height: 400px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
      }
    }
  }
}
